* {margin: 0; padding: 0;}

html {
  background: #444;
}

.wrapper {
  height: 538px;
  position: relative;
  background-image: url('../img/graph-paper.png');
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 1;
}

.jamvatar-wrapper {
  margin: -12px auto 0;
  padding: 12px;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12) inset;
}

.about {
  position: absolute;
  top: 66px;
  right: 16px;
}

.about h1 {
  margin-top: 0;
}

.about .signoff {
  text-align: right;
}

.control-panel {
  position: absolute;
  top: 66px;
  left: 16px;
}

.control-panel, .about {
  width: 250px;
  padding: 16px;
  background: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.24);
}

.drop-target {
  padding: 80px 0;
  border: 3px dotted #ddd;
  border-radius: 10px;
  text-align: center;
}

.drop-target.dragover {
  background: #eee;
}

.customise {
  margin-top: 16px;
}
